/* 
BEM-style
* Block: class="some-block";
* Element: class="some-block_some-element";
* Modificator: class="some-block_some-element--some-mod";

Зависимый класс, т.е. класс который не употребляется отдельно от основного класса
и всегда в CSS записывается вместе с ним. Обозначается: "_some-dependent-class"
(нижнее подчеркивание перед названием). Такое обозначение выделяет зависимые классы и
не позволяет случайное совпадение с независимым одноименным классом.

Например HTML: class="weather _rain" и class="rain".
CSS: 
weather { some values }; - независимый класс.
weather._rain { some values }; - всегда вместе.
rain { some values }; - одноименный класс
*/

/* GENERAL */

.size-full {
	width: 100%;
}

.size-full._content-center {
	min-width: 960px;
	padding: 0 10px;
} 

.size-content {
	width: 940px;
	min-width: 940px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	height: 1px;
	width: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* HEADER UPSIDE */

.header-upside.size-full {
	background-color: #293449;
}

.header-upside.size-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.header-upside-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 720px;
}

.header-upside_logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 42px;
	background-color: #ee3643;
	box-shadow: 0 5px 0 0 #b62430;
}

.header-upside_logo:hover,
.header-upside_logo:focus {
	background-color: #ca2c37;
}

.header-upside_logo:active {
	background-color: #ba2732;
}

.btn-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font: 17px "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	line-height: 18px;
	text-align: center;
	width: 150px;
	height: 42px;
}

.btn-header:hover,
.btn-header:focus {
	background-color: #212a3a;
}

.btn-header:active {
	color: rgba(255, 255, 255, 0.6);
	background-color: #161d29;
}

.btn-header p {
	max-width: 100px;
	margin: 0;
}

.btn-header._active {
	background-color: #ee3643;
}

.btn-header img {
	margin-left: -10px;
	margin-right: 15px;
	opacity: 0.3;
}

.btn-header:hover img,
.btn-header:focus img {
	opacity: 1;
}

.btn-header:active img {
	opacity: 0.5;
}

.header-upside_search-form {
	position: relative;
}

.header-upside_search-icon {
	position: absolute;
	top: 11px;
	left: 15px;
}

.header-upside_search-icon path {
	fill: #ffffff;
	opacity: 0.3;
}

.btn-header._search {
	display: flex;
	align-items: center;
	width: 270px;
	padding-left: 50px;
	color: #ffffff;
	text-align: left;
	background-color: #293449;
	border: none;
}

.btn-header._search:hover {
	background-color: #212a3a;
}

.btn-header._search:focus {
	color: #000000;
	background-color: #ffffff;
}

.btn-header._search:hover + .header-upside_search-icon path {
	opacity: 1;
}

.btn-header._search:focus + .header-upside_search-icon path {
	fill: #ee3643;
}

.btn-header._search::-webkit-input-placeholder {
	color: #ffffff;
}

.btn-header._search::-moz-placeholder {
	color: #ffffff;
}

.btn-header._search:-moz-placeholder {
	color: #ffffff;
}

.btn-header._search:-ms-placeholder {
	color: #ffffff;
}

.btn-header._order {
	background-color: #63a63e;
	text-align: center;
}

.btn-header._order:hover,
.btn-header._order:focus {
	background-color: #5fbb2d;
}

.btn-header._order:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #518534;
}

/* HEADER DOWNSIDE */

.header-downside.size-full {
	background-color: #f1f5f7;
}

.header-downside.size-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 46px 0 65px 0;
}

.header-downside_wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 42px;
}

.header-downside_desc {
	align-self: flex-start;
	margin: 0;
	margin-left: 53px;
	margin-right: 17px;
	font: italic 16px "Cuprum", "Arial", sans-serif;
	line-height: 23px;
	color: #ee3643;
	width: 200px;
}

.header-downside_info {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
}

.header-downside_tel-link {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: flex-start;
	align-items: center;
	width: 270px;
	margin-bottom: 7px;
	padding: 8px 0 8px 12px;
	border: 3px solid #ffffff;
}

.header-downside_tel-icon {
	margin-right: 40px;
}

.header-downside_tel-num {
	margin: 0;
	font: 21px "Cuprum", "Arial", sans-serif;
	color: #ee3643;
}

.header-downside_address {
	max-width: 260px;
	font: normal 14px "Cuprum", "Arial", sans-serif;
	text-align: center;
	color: #32425c;
}

/* HEADER AUTHORIZATION */

.btn-authorization {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font: 21px "Cuprum", "Arial", sans-serif;
	color: #000000;
	background-color: #ffffff;
}

.btn-authorization._no-log-in {
	margin-left: 10px;
	margin-bottom: 10px;
}

.btn-authorization._no-log-in p {
	margin: 0;
}

.btn-authorization._no-log-in:first-child {
	margin-left: 0;
}

.btn-authorization._no-log-in._enter {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
	min-width: 121px;
	padding: 10px 24px 10px 14px;
}

.btn-authorization._no-log-in._reg {
	padding: 10px 24px;
}

.btn-authorization._logged-in {
	width: 100%;
	margin-bottom: 8px;
	padding: 10px 11px 10px 14px;
}

.btn-authorization._logged-in p {
	margin: 0;
	max-width: 200px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.btn-authorization._logout {
	line-height: 0;
}

.btn-authorization:hover,
.btn-authorization:focus {
	color: #ee3643;
}

.btn-authorization:active {
	color: rgba(0, 0, 0, 0.3);
	outline: none;
}

.btn-authorization path {
	fill: #c5c5c5;
}

.btn-authorization._no-log-in:hover path,
.btn-authorization._no-log-in:focus path {
	fill: #32425c;
}

.btn-authorization._no-log-in:active path {
	fill: #c5c5c5;
}

.authorization_profile:hover path,
.authorization_profile:focus path {
	fill: #32425c;
}

.authorization_profile:active path {
	fill: #c5c5c5;
}

.authorization_logout:hover path,
.authorization_logout:focus path {
	fill: #32425c;
}

.authorization_logout:active path {
	fill: #c5c5c5;
}

.btn-authorization._logged-in .authorization_profile:active {
	color: rgba(0, 0, 0, 0.3);
	outline: none;
}

.authorization {
	display: flex;
	align-items: center;
	align-self: flex-start;
	flex-wrap: wrap;
}

.authorization._no-log-in{
	flex-direction: row;
	justify-content: flex-end;
	width: 300px;
}

.authorization._logged-in {
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
}

.authorization_profile-icon {
	flex-grow: 1;
	margin-right: 14px;
}

.authorization_login-icon {
	min-width: 20px;
	min-height: 17px;
	margin-right: 14px;
}

.authorization_login-icon path {
	fill: #c5c5c5;
}

.authorization_profile {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font: 21px "Cuprum", "Arial", sans-serif;
	color: #000000;
}

.authorization_cabinet {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding-left: 18px;
	font: 16px "Cuprum", "Arial", sans-serif;
	line-height: 18px;
	color: #32425c;
}

.authorization_cabinet a {
	text-decoration: underline;
}

.authorization_cabinet a:visited {
	color: #32425c;
}

.authorization_cabinet a:hover,
.authorization_cabinet a:focus {
	color: #ee3643;
}

.authorization_cabinet a:active {
	color: rgba(50, 66, 92, 0.3);
}

.decor_point {
	display: inline-block;
	margin: 0 14px;
	font-family: serif;
	font-size: 9px;
	color: #32425c;
	text-decoration: none;
}

/* HEADER NAVIGATION */

.navigation {
	padding: 0;
	padding-left: 20px;
	padding-right: 22px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #32425c;
	box-shadow: 0 5px 0 0 #293449;
}

.btn-header-nav {
	min-width: 80px;
	padding: 19px 0;
	flex-grow: 1;
	font: 17px "Cuprum", "Arial", sans-serif;
	line-height: 17px;
	color: #ffffff;
	text-align: center;
}

.btn-header-nav:hover,
.btn-header-nav:focus {
	background-color: #243147;
}

.btn-header-nav:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #1d2739;
}

/* BREADCRUMBS */

.breadcrumbs {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs li img {
	display: inline;
	margin: 0;
}

.breadcrumbs li:not(:last-child)::after {
	content: url("../img/icons/icon_next.svg");
	margin: 0 14px;
}

.breadcrumbs_item {
	font: 13px "PT Sans", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
}

/* TITLE */

.title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px 0;
	padding: 25px;
	padding-left: 30px;
	font: normal 30px "Cuprum", "Arial", sans-serif;
	color: #32425c;
	text-align: left;
	text-transform: uppercase;
}

.title h1,
.title h2 {
	margin: 0;
	font: normal 30px "Cuprum", "Arial", sans-serif;
}

.title._home {
	background-color: #f9f5f0;
}

.title._catalog {
	padding: 27px 25px 27px 30px;
	background-color: #f2f6f8;
}

/* CATALOG */

.catalog {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

/* ASIDE */

.aside {
	margin-bottom: 40px;
	width: 220px;
}

.fieldset_legend {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	font: bold 17px "PT Sans", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.filter-price-fieldset,
.filter-devs-fieldset,
.filter-power-fieldset {
	margin: 0;
	width: 100%;
	padding: 0;
	border: none;
}

.filter-devs-fieldset,
.filter-power-fieldset {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.filter-price-fieldset {
	margin-bottom: 25px;
}

.filter-devs-fieldset {
	margin-bottom: 20px;
}

.filter-devs-fieldset label,
.filter-power-fieldset label {
	cursor: pointer;
}

.filter-devs_item,
.filter-power_item {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 17px;
	font: 15px "PT Sans", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.filter-devs_item:last-child,
.filter-power_item:last-child {
	margin-bottom: 0;
}

.filter-devs_checkbox {
	position: relative;
	display: block;
	width: 23px;
	min-width: 23px;
	height: 23px;
	margin-right: 12px;
	border: 2px solid #c5c5c5;
	border-radius: 3px;
}

.filter-devs_checkbox:hover {
	border-color: #b5b5b5;
}

.filter-devs_input:checked + .filter-devs_checkbox::before {
	content: "";
	position: absolute;
	top: 9px;
	left: 3px;
	display: block;
	width: 10px;
	height: 4px;
	transform: rotate(45deg);
	background-color: #c5c5c5; 
}

.filter-devs_input:checked + .filter-devs_checkbox::after {
	content: "";
	position: absolute;
	top: 6px;
	right: -8px;
	display: block;
	width: 20px;
	height: 4px;
	transform: rotate(-45deg);
	background-color: #c5c5c5;
}

.filter-devs_input:disabled + .filter-devs_checkbox {
	border-color: #b5b5b5;
	opacity: 0.3;
}

.filter-power_radio {
	display: block;
	width: 25px;
	min-width: 25px;
	height: 25px;
	margin-right: 8px;
	border: 4px solid #c5c5c5;
	border-radius: 50%;
}

.filter-power_input:checked + .filter-power_radio {
	background-color: #c5c5c5;
	box-shadow: inset 0 0 0 4px #ffffff;
}

.filter-devs_input:hover {
	border-color: #b5b5b5;
}

.filter-devs_input:focus + .filter-devs_checkbox {
	outline: 2px solid #e8cd00;
}

/* "!important" использован для перезаписи свойства "background-color" для псевдоэлементов */
.filter-devs_checkbox:hover::before,
.filter-devs_checkbox:hover::after  {
	background-color: #b5b5b5 !important;
}

.filter-power_radio:hover {
	border-color: #b5b5b5;
}

.filter-power_input:checked + .filter-power_radio:hover {
	background-color: #b5b5b5;
}

.filter-power_input:focus + .filter-power_radio {
	outline: 2px solid #e8cd00;
}

.filter-power_input:disabled + .filter-power_radio {
	border-color: #b5b5b5;
	opacity: 0.3;
}

.filter-power_input:checked:disabled + .filter-power_radio {
	background-color: #b5b5b5;
	border-color: #b5b5b5;
	box-shadow: inset 0 0 0 4px #ffffff;
	opacity: 0.3;
}

.filter-range {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 80px;
	padding-top: 3px;
	margin-bottom: 10px;
	background-color: #f7f3ec;
}

.filter-range_slider-available {
	position: relative;
	width: 180px;
	height: 22px;
}

.filter-range_slider {
	position: absolute;
	width: 21px;
	height: 22px;
	background: url("../img/icons/icons_inter/icon_range.svg") no-repeat;
	border: none;
}

.filter-range_slider._min {
	left: 0;
}

.filter-range_slider._max {
	right: 10%;
}

.filter-range_available-range {
	position: absolute;
	top: 9px;
	left: 10px;
	right: 10px;
	width: 170px;
	height: 2px;
	background-color: #d7dcde;
}

.filter-range_selected-range {
	position: absolute;
	top: 9px;
	left: 0;
	right: 20%;
	width: 90%;
	height: 2px;
	border-left: 10px solid #d7dcde;
	border-right: 10px solid #d7dcde;
	background-color: #00cb75;
}

.filter-range_indicators {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.filter-range_indicator {
	width: 95px;
	margin: 0;
	padding: 8px 0;
	font: 17px "PT Sans", "Arial", sans-serif;
	color: #000000;
	text-align: center;
	background-color: #f7f3ec;
}

.decor_line {
	font: 15px "PT Sans", "Arial", sans-serif;
	color: #000000;
}

/* SORT */

.sort-title {
	margin: 0;
	font: inherit;
	flex-grow: 1;
}

.sort-type {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	width: 355px;
	margin-left: 20px;
	margin-right: 44px;
}

.sort-type_item {
	font: 13px "PT Sans", "Arial", sans-serif;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: #ee3643;
	cursor: pointer;
}

.sort-type_item:hover,
.sort-type_item:focus {
	color: #000000;
	text-decoration: underline;
	text-decoration-color: #ee3643;
}

.sort-type_item:focus {
	outline: 2px solid #e8cd00;
}

.sort-type_item._active {
	color: #ee3643;
	text-decoration: none;
}

.sort-control {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.sort-control_btn._up {
	width: 11px;
	height: 10px;
	margin-right: 20px;
	padding: 0;
	border: none;
}

.sort-control_btn._down {
	width: 11px;
	height: 10px;
	padding: 0;
	border: none;
}

.sort-control_btn._up path,
.sort-control_btn._down path {
	fill: #c5c5c5;
}

.sort-control_btn._up:hover path,
.sort-control_btn._up:focus path,
.sort-control_btn._down:hover path,
.sort-control_btn._down:focus path {
	fill: #000000;
}

.sort-control_btn._up:disabled path,
.sort-control_btn._down:disabled path {
	fill: #ee3643;
}

/* PRODUCT LIST */

.products {
	width: 700px;
}

.product-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 32px;
	padding: 0;
	list-style: none;
}

.product-list li {
	margin-right: 20px;
	margin-bottom: 20px;
}

.product-list li:nth-child(3n) {
	margin-right: 0;
}

/* PROMO */

.promo.size-content {
	padding: 59px 0 13px;
}

.promo-feature-item {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 300px;
	height: 123px;
	margin-bottom: 20px;
	padding: 22px 25px;
}

.promo-feature-item h2 {
	margin: 0;
	margin-bottom: auto;
	margin-left: -2px;
	font: bold 24px "Cuprum", "Arial", sans-serif;
	color: #ffffff;
} 

.promo-feature-item._materials {
	background: url("../img/promo/promo_1.png") no-repeat 213px 31px #ffbf47;
}

.promo-feature-item._instruments {
	background: url("../img/promo/promo_2.png") no-repeat 197px 33px #3bbce3;
}

.promo-feature-item._technic {
	background: url("../img/promo/promo_3.png") no-repeat 191px 31px #dc91d8;
}

.promo-feature-item._discount {
	background: url("../img/promo/promo_4.png") no-repeat 196px 26px #8ed78f;
}

.promo-feature-item._delivery {
	background: url("../img/promo/promo_5.png") no-repeat 191px 32px #ffc047;
}

.promo-features {
	margin: 0;
	padding: 0;
	list-style: none;
}

.promo-features._horizontal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.promo-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.promo-features._vertical {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
}

.promo-slider {
	position: relative;
	display: block;
	width: 620px;
	height: 266px;
}

.promo-slider_btn {
	position: absolute;
	top: 114px;
	width: 22px;
	height: 40px;
	border: none;
}

.promo-slider_btn._bw {
	left: 25px;
	background: url("../img/icons/icon_arrow-left.svg") no-repeat;
}

.promo-slider_btn._fw {
	right: 20px;
	background: url("../img/icons/icon_arrow-right.svg") no-repeat;
}

.promo-slider_item {
	width: 100%;
	height: 100%;
	padding: 20px 24px;
}

.promo-slider_title {
	margin: 0;
	margin-bottom: 1px;
	padding: 0;
	font: bold 36px "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	text-transform: uppercase;
}

.promo-slider_subtitle {
	margin: 0;
	padding: 0;
	font: 18px "Cuprum", "Arial", sans-serif;
	color: #ffffff;
}

.promo-slider_pagination {
	position: absolute;
	bottom: 36px;
	left: 235px;
	right: 235px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 150px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.promo-slider_pagination li {
	margin-right: 10px;
}

.promo-slider_pagination li:last-child {
	margin: 0;
}

.promo-slider_indicator {
	display: block;
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 50%;
}

.promo-slider_item._drills {
	background: url("../img/promo/slider/slider_drills.jpg") no-repeat #938d86;
}

.promo-slider_item._perforators {
	background: url("../img/promo/slider/slider_perforators.jpg") no-repeat #938d86;
}

.promo-slider_item-list {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.promo-slider_item-list li {
	display: none;
	width: 100%;
	height: 100%;
}

.promo-slider_page {
	display: block;
	width: 10px;
	height: 10px;
	margin-right: 10px;
	background-color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 50%;
}

.promo-slider_page:last-child {
	margin-right: 0;
}

.promo-slider_input._slider1:checked ~ .promo-slider_item-list li:nth-child(1),
.promo-slider_input._slider2:checked ~ .promo-slider_item-list li:nth-child(2) {
	display: block;
}

.promo-slider_input._slider1:checked ~ .promo-slider_pagination .promo-slider_page:nth-child(1),
.promo-slider_input._slider2:checked ~ .promo-slider_pagination .promo-slider_page:nth-child(2) {
	background-color: #ee3643;
}

.promo-slider_input._slider1:focus,
.promo-slider_input._slider2:focus {
	outline: none;
}

.promo-slider_input._slider1:focus ~ .promo-slider_pagination .promo-slider_page:nth-child(1),
.promo-slider_input._slider2:focus ~ .promo-slider_pagination .promo-slider_page:nth-child(2) {
	outline: 2px solid #e8cd00;
}

.promo-slider_input._slider1:disabled ~ .promo-slider_pagination .promo-slider_page:nth-child(1),
.promo-slider_input._slider1:checked:disabled ~ .promo-slider_pagination .promo-slider_page:nth-child(1),
.promo-slider_input._slider2:disabled ~ .promo-slider_pagination .promo-slider_page:nth-child(2),
.promo-slider_input._slider2:checked:disabled ~ .promo-slider_pagination .promo-slider_page:nth-child(2) {
	background-color: #666666;
}

/* PRODUCT ARTICLE */

.flag-new {
	position: absolute;
	top: 0;
	right: 0;
}

.flag-new._vis-off {
	display: none;
}

.popular-products_list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	margin: 0;
	margin-bottom: -20px;
	padding: 0;
	list-style: none;
}

.popular-products_list li {
	margin-right: 20px;
	margin-bottom: 20px;
}

.popular-products_list li:nth-child(4n),
.popular-products_list li:last-child {
	margin-right: 0;
}

.product-article {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 220px;
	height: 100%;
	padding-bottom: 21px;
	border: 1px solid #eaeaea;
}

.product-article:hover {
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.product-article:focus {
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.product-article:focus-within {
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

.product-article .flag-new {
	position: absolute;
	top: 0;
	right: 0;
}

.product-article:hover .product-article_img {
	opacity: 0;
}

.product-article:focus .product-article_img {
	opacity: 0;
}

.product-article:focus-within .product-article_img {
	opacity: 0;
}

.product-article_ui {
	display: none;
	position: absolute;
	top: 44px;
	left: 41px;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.product-article:hover .product-article_ui {
	display: flex;
}

.product-article:focus .product-article_ui {
	display: flex;
}

.product-article:focus-within .product-article_ui {
	display: flex;
}

.product-article_ui._vis-off {
	display: none;
}

.product-article_ui-btn {
	width: 135px;
	min-height: 38px;
	margin: 5px;
	padding: 11px;
	font: 14px "Cuprum", "Arial", sans-serif;
	text-transform: uppercase;
	text-align: center;
	border-radius: 3px;
}

.product-article_ui-btn._buy {
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	color: #ffffff;
	box-shadow: 0 3px 0 0 #367315;
	background-repeat: no-repeat;
	background-color: #63a63e;
	border: none;
}

.product-article_icon-buy {
	position: absolute;
	top: 12px;
	left: 12px;
	opacity: 0.3;
}

.product-article_ui-btn._buy:hover,
.product-article_ui-btn._buy:focus {
	background-color: #5fbb2d;
}

.product-article_ui-btn._buy:hover .product-article_icon-buy,
.product-article_ui-btn._buy:focus .product-article_icon-buy,
.product-article_ui-btn._buy:active .product-article_icon-buy {
	opacity: 1;
}

.product-article_ui-btn._buy:active {
	background-color: #518534;
}

.product-article_ui-btn._bookmark {
	background-color: #ffffff;
	border: 3px solid #63a63e;
}

.product-article_ui-btn._bookmark:hover,
.product-article_ui-btn._bookmark:focus {
	border-color: #32425c;
}

.product-article_ui-btn._bookmark:active {
	color: rgba(50, 66, 92, 0.3);
	border-color: rgba(50, 66, 92, 0.3);
}

.product-article_info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	padding-top: 8px;
}

.product-article_title {
	flex-grow: 1;
	width: 190px;
	margin: 0 auto;
	font: bold 18px "PT Sans", "Arial", sans-serif;
	line-height: 20px;
	text-align: center;
}

.product-article_deleted-price {
	display: block;
	width: 141px;
	min-height: 22px;
	margin: 9px 0 8px 0;
	font: bold 17px "PT Sans", "Arial", sans-serif;
	color: #a9a9a9;
	text-align: center;
}

.product-article_actual-price {
	width: 141px;
	height: 38px;
	margin: 0;
	margin-left: 8px;
	padding: 8px 0;
	padding-right: 8px;
	font: bold 17px "PT Sans", "Arial", sans-serif;
	color: #ffffff;
	text-align: center;
	background: url("../img/products/misc/bg_price.svg") no-repeat #ee3643;
}

/* BRAND'S LIST */

.popular-devs_list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-bottom: 65px;
	list-style: none;
}

.popular-devs_list li {
	margin-right: 20px;
	margin-bottom: 20px;
}

.popular-devs_list li:nth-child(4n),
.popular-devs_list li:last-child {
	margin-right: 0;
}

.popular-devs_item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 145px;
	border: 1px solid #eaeaea;
}

.popular-devs_item:hover,
.popular-devs_item:focus {
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

/* PAGINATION */

.pagination {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	margin-bottom: 60px;
	padding: 0;
	list-style: none;
}

.pagination li {
	margin-right: 10px;
}

.pagination li:last-child {
	margin-right: 0;
}

/* ABOUT PERFORATORS */

.about-perfs.size-full {
	background-color: #f4f7f9;
}

.about-perfs.size-content {
	padding: 62px 0 69px;
}

.about-perfs_title {
	margin: 0;
	margin-bottom: 24px;
	font: 30px "Cuprum", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.about-perfs_desc {
	margin: 0;
	font: 13px "PT Sans", "Arial", sans-serif;
	color: #000000;
	line-height: 24px;
}

/* SERVICES */

.services.size-full {
	background-color: #f4f7f9;
}

.services.size-content {
	position: relative;
	padding-top: 61px;
}

.services_title {
	margin: 0;
	margin-bottom: 25px;
	font: 30px "Cuprum", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.services_subtitle {
	margin: 0;
	margin-bottom: 22px;
	font: 13px "PT Sans", "Arial", sans-serif;
	line-height: 24px;
	color: #000000;
}

.services-slider-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	margin-top: 21px;
}

.services-slider_switcher-list {
	margin: 0;
	margin-top: 47px;
	padding: 0;
	list-style: none;
}

.services-slider_btn {
	display: block;
	width: 240px;
	padding: 18px 23px;
	font: bold 21px "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	background-color: #32425c;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;
}

.services-slider_btn:hover {
	background-color: #293449;
}

.services-slider_bg {
	min-height: 331px;
}

.services-slider_bg._delivery {
	background: url(../img/services_slider/delivery.png) no-repeat 100% 100%;
}

.services-slider_bg._guarantee {
	background: url(../img/services_slider/guarantee.png) no-repeat 100% 100%;
}

.services-slider_bg._credit {
	background: url(../img/services_slider/credit.png) no-repeat 100% 100%;
}

.services-slider_item-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.services-slider_item-list li {
	display: none;
}

.services-slider_item {
	width: 700px;
	min-height: 279px;
	padding: 43px 80px;
	box-shadow: -13px 0 8px -15px #000000;
}

.services-slider_title {
	margin: 0;
	margin-bottom: 22px;
	font: 36px "Cuprum", "Arial", sans-serif;
	color: #32425c;
	text-transform: uppercase;
}

.services-slider_subtitle {
	margin: 0;
	font: 13px "PT Sans", "Arial", sans-serif;
	line-height: 24px;
	color: #000000;
}

.services-switcher_input._delivery:focus ~ .services-slider_switcher-list .services-slider_btn:nth-child(1),
.services-switcher_input._guarantee:focus ~ .services-slider_switcher-list .services-slider_btn:nth-child(2),
.services-switcher_input._credit:focus ~ .services-slider_switcher-list .services-slider_btn:nth-child(3) {
	background-color: #293449;
	outline: 2px solid #e8cd00;
}

.services-switcher_input._delivery:checked ~ .services-slider_switcher-list .services-slider_btn:nth-child(1),
.services-switcher_input._guarantee:checked ~ .services-slider_switcher-list .services-slider_btn:nth-child(2),
.services-switcher_input._credit:checked ~ .services-slider_switcher-list .services-slider_btn:nth-child(3) {
	color: #32425c;
	background-color: #ffffff;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.services-switcher_input._delivery:checked ~ .services-slider_item-list li:nth-child(1),
.services-switcher_input._guarantee:checked ~ .services-slider_item-list li:nth-child(2),
.services-switcher_input._credit:checked ~ .services-slider_item-list li:nth-child(3) {
	display: block;
}

.services-switcher_input._delivery:disabled ~ .services-slider_switcher-list .services-slider_btn:nth-child(1),
.services-switcher_input._delivery:checked:disabled ~ .services-slider_switcher-list .services-slider_btn:nth-child(1),
.services-switcher_input._guarantee:disabled ~ .services-slider_switcher-list .services-slider_btn:nth-child(2),
.services-switcher_input._guarantee:checked:disabled ~ .services-slider_switcher-list .services-slider_btn:nth-child(2),
.services-switcher_input._credit:disabled ~ .services-slider_switcher-list .services-slider_btn:nth-child(3),
.services-switcher_input._credit:checked:disabled ~ .services-slider_switcher-list .services-slider_btn:nth-child(3) {
	color: #cccccc;
	background-color: #999999;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #aaaaaa;
}

/* ABOUT US */

.about-us.size-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 76px 0 86px;
}

.about-us-leftside {
	width: 520px;
}

.about-us_title {
	margin: 0;
	margin-bottom: 24px;
	font: 30px "Cuprum", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.about-us_subtitle {
	margin: 0;
	margin-bottom: 25px;
	font: 13px "PT Sans", "Arial", sans-serif;
	color: #000000;
	line-height: 24px;
}

.about-us-leftside_features {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	margin-top: -5px;
	margin-bottom: 16px;
	margin-left: 3px;
	padding: 0;
	padding-left: 35px;
	font: 18px "Cuprum", "Arial", sans-serif;
	color: #000000;
	list-style-image: url("../img/list-style-decor.png");
}

.about-us-leftside_features li {
	margin-bottom: 19px;
}

.about-us-leftside_features p {
	margin: 0;
}

.about-us-rightside {
	width: 300px;
}

.about-us_subtitle {
	margin-bottom: 25px;
	font: 13px "PT Sans", "Arial", sans-serif;
	color: #000000;
	line-height: 24px;
}

.about-us_btn-map {
	display: block;
	margin: 30px 0 41px;
	padding: 0;
	border: none;
}

/* FOOTER UPSIDE */

.footer-upside.size-full {
	background-color: #32425c;
}

.footer-upside.size-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding-bottom: 49px;
}

.footer-upside-info {
	width: 350px;
}

.footer-upside_logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 63px;
	margin-bottom: 33px;
	box-shadow: 0 5px 0 0 #b62430;
	background-color: #ee3643;
}

.footer-upside_address,
.footer-upside_tel {
	margin: 0;
	margin-left: 3px;
	font: normal 18px "Cuprum","Arial", sans-serif;
	line-height: 24px;
	color: #f3f7f9;
}

.footer-upside-nav {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: wrap;
	padding-top: 40px;
}

.footer-upside-nav-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
	width: 555px;
	margin: 0;
	margin-bottom: 37px;
	padding: 0;
	list-style: none;
}

.footer-upside-nav-list:last-child {
	margin-bottom: 0;
}

.footer-upside-nav-list li {
	margin-left: 60px;
}

.footer-upside-nav-list li:first-child {
	margin-left: 0;
}

.footer-nav {
	font: 18px "Cuprum", "Arial", sans-serif;
}

.footer-nav:hover,
.footer-nav:focus {
	text-decoration: underline;
}

.footer-nav:active {
	opacity: 0.5;
	text-decoration: none;
}

.footer-nav._upside {
	color: #f1f5f7;
}

.footer-nav._downside {
	color: #ffd180;
}

/* FOOTER DOWNSIDE */

.footer-downside.size-full {
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #293449;
}

.footer-downside.size-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer-downside_copyright {
	margin: 0;
	width: 265px;
	font: 16px "Cuprum", "Arial", sans-serif;
	color: #ffffff;
}

.footer-downside-social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	margin-right: -7px;
	padding: 0;
	list-style: none;
}

.footer-downside-social {
	max-width: 300px;
}

.footer-downside-social_item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;
	margin-right: 3px;
	background-color: #212a3a;
	border-radius: 50%;
}

.footer-downside-feedback_item:last-child {
	margin-right: 0;
}

.footer-downside-social_item:hover,
.footer-downside-social_item:focus,
.footer-downside-social_item:active {
	background-color: #ee3643;
}

.footer-downside-feedback {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 300px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-downside-feedback li {
	margin-right: 15px;
}

.footer-downside-feedback_title {
	margin: 0;
	max-width: 140px;
	font: 16px "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	word-break: break-all;
	margin: 0;
}

.footer-downside-feedback_link {
	display: block;
	max-width: 140px;
	font: 16px "Cuprum", "Arial", sans-serif;
	color: #ffd180;
	word-break: break-all;
	margin: 0;
}

.footer-downside-feedback_link:hover {
	text-decoration: underline;
	outline: none;
}

.footer-downside-feedback_link:active {
	color: #ee3643;
}

/* STANDART BUTTON PROTOTYPE */

.btn-standart {
	display: block;
	min-height: 38px;
	padding: 11px;
	font: 14px "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
}

.btn-standart._promo {
	width: 135px;
	background-color: rgba(0, 0, 0, 0.1);
}

.btn-standart._promo:hover,
.btn-standart._promo:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.btn-standart._promo:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.btn-standart._red {
	background-color: #ee3643;
}

.btn-standart._red:hover,
.btn-standart._red:focus {
	background-color: #ca2c37;
}

.btn-standart._red:active {
	background-color: #ba2732;
}

.btn-standart._red._slider {
	position: absolute;
	bottom: 22px;
	left: 25px;
	width: 195px;
}

.btn-standart._red._title {
	width: 253px;
}

.btn-standart._red._services-slider {
	width: 195px;
}

.btn-standart._red._services-slider._offset {
	margin-top: 25px;
}

.btn-standart._red._about-us1 {
	width: 220px;
}

.btn-standart._red._about-us2,
.btn-standart._red._modal,
.btn-standart._white._modal {
  width: 100%;
}

.btn-standart._white {
	color: #000000;
	background-color: #ffffff;
	border: 1px solid transparent;
}

.btn-standart._white:hover,
.btn-standart._white:focus {
	color: #ee3643;
	border: 1px solid #ee3643;
}

.btn-standart._white:active {
	color: #ffffff;
	background-color: #ee3643
}

.btn-standart._pagination {
	font: 13px "PT Sans", "Arial", sans-serif;
	line-height: 16px;
	color: #000000;
	padding: 10px 15px;
	border: 1px solid #e5e5e5;
	background-color: #ffffff;
}

.btn-standart._pagination._next {
	padding: 10px 30px;
}

.btn-standart._pagination:hover,
.btn-standart._pagination:focus {
	border: 1px solid #bdc6ca;
}

.btn-standart._pagination:active {
	border: 1px solid #ee3643;
}

.btn-standart._pagination._current {
	color: #ffffff;
	background-color: #ee3643;
	border: none;
}

.btn-standart._filter {
	font: 13px "PT Sans", "Arial", sans-serif;
	margin-top: 75px;
	padding: 0 40px;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.btn-standart._filter:hover,
.btn-standart._filter:focus {
	border: 1px solid #bdc6ca;
}

.btn-standart._filter:active {
	border: 1px solid #ee3643;
}

.func-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	margin: 0;
	margin-bottom: 18px;
	padding: 10px 18px;
	font: 13px "PT Sans", "Arial", sans-serif;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
	background-color: #f7f3ec;
}

.func-title._filter {
	justify-content: flex-start;
}

.func-title._sort {
	justify-content: space-between;
}

.hr {
	margin: 20px 0;
	border: 1px solid #f1f1f1;
}

.btn-cross {
	width: 21px;
	height: 21px;
	margin: 0;
	padding: 0;
	background: url("../img/icons/icon_close.svg") no-repeat;
	border: none;
}

.btn-cross._modal {
	position: absolute;
	top: 9px;
	right: 9px;
}

/* MODAL WINDOWS */

.modal._bg-off {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.modal._vis-off {
	display: none;
}

.modal._window {
	position: relative;
	width: 620px;
	border-top: 7px solid #ee3643;
	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.7);
}

.modal._body {
	padding: 48px 80px 37px;
	background-color: #ffffff
}

.modal._panel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 37px 80px;
	background-color: #f4f4f4;
}

.modal._panel > button,
.modal._panel > a,
.modal._panel > input {
	margin-right: 20px;
}

.modal._panel > button:last-child,
.modal._panel > a:last-child,
.modal._panel > input:last-child {
	margin-right: 0;
}

.modal-map {
	position: relative;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.modal-map_map {
	width: 100%;
	border: none;
}

.modal-map_map-full-critical {
	position: fixed;
	top: 100px;
	left:50%;
	transform: translateX(-50%);
	display: none;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.modal-map_input:checked + img {
	display: block;
}

.modal-feedback-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.modal-feedback_inter {
	font: 18px "Cuprum", "Arial", sans-serif;
	color: #000000;
}

.modal-feedback_inter > input,
.modal-feedback_inter > textarea {
	font: 13px "PT Sans", "Arial", sans-serif;
	padding: 10px 14px;
	border: 2px solid #dee3e4;
	border-radius: 3px;
}

.modal-feedback_inter > input {
	width: 220px;
	margin-bottom: 20px;
}

.modal-feedback_inter > textarea {
	width: 458px;
	height: 108px;
	resize: none;
}

.modal-feedback_inter > input:hover,
.modal-feedback_inter > textarea:hover {
	border-color: #b5b5b5;
}

.modal-feedback_inter > input:focus,
.modal-feedback_inter > textarea:focus {
	border-color: #ee3643;
	outline: none;
}

.modal-alert {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.modal-alert_icon {
	margin-right: 32px;
	margin-bottom: 12px;
}

.modal-alert_title {
	font: 30px "Cuprum", "Arial", sans-serif;
	color: #000000;
}

/* MODAL WINDOWS: ANIMATION */

.modal._animation-open {
	-ms-animation-name: modal-animation-open;
	animation-name: modal-animation-open;
	-ms-animation-duration: 250ms;
	animation-duration: 250ms;
	-ms-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.modal._animation-close {
	-ms-animation-name: modal-animation-close;
	animation-name: modal-animation-close;
	-ms-animation-duration: 250ms;
	animation-duration: 250ms;
	-ms-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes modal-animation-open {
	from {
		-ms-transform: perspective(2000px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(2000px) rotate3d(1, 0, 0, 90deg);
	}
	to {
		-ms-transform: perspective(2000px) rotate3d(1, 0, 0, 0deg);
		transform: perspective(2000px) rotate3d(1, 0, 0, 0deg);
	}
}

@keyframes modal-animation-close {
	from {
		-ms-transform: perspective(2000px) rotate3d(1, 0, 0, 0deg);
		transform: perspective(2000px) rotate3d(1, 0, 0, 0deg);
	}
	to {
		-ms-transform: perspective(2000px) rotate3d(1, 0, 0, -90deg);
		transform: perspective(2000px) rotate3d(1, 0, 0, -90deg);
	}
}